
/***ATRACCIONES TURÍSTICAS*** INICIO*/
body{
	background: white;
	font-family: 'Montserrat', sans-serif;
}

/**************CABECERA*************/
.cabecera img{
	width: 130px;
}


.cabecera{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #333B43;
}
.navegacion a{
	text-decoration: none;
	padding-right: 20px; 
	color: white ;
	font-size: 20px;
}
/****/


.contenedor {
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.centrado{
	text-align: center;
	color: brown;
	font-size: 90px;
	margin-bottom: 20px;
	font-family: 'Great Vibes', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Playball', cursive;
}

.contenedor h2{
	width: 100%;
	font-size: 100px;
	-webkit-background-clip: text; /*fonod se extienda por el espacio de las letras*/
	-webkit-text-fill-color: brown; /*indicar el color de relleno de las letras*/
	background-image: url(imagenes/fondo.jpg);
	margin-bottom: 20px;
	background-attachment: fixed; /*imagen fijo a la pantalla*/
	font-family: 'Great Vibes', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Playball', cursive;
}

p{
	text-align: center;
}

.contenedor p{
	line-height: 1.5;
	color: #7a7a7a;
}

.first{
	display: flex;
	justify-content: space-evenly;
}

.first h3{
	font-family: 'Dancing Script', cursive;
	font-family: 'Great Vibes', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Playball', cursive;
	font-family: 'Satisfy', cursive;
}

.second{
	display: flex;
	justify-content: space-evenly;
}

.titulos-pg h1{
	font-family: 'Dancing Script', cursive;
	font-family: 'Great Vibes', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Playball', cursive;
	font-family: 'Satisfy', cursive;
	font-size: 50px;
	text-align: center;
}

.second h3{
	font-family: 'Dancing Script', cursive;
	font-family: 'Great Vibes', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Playball', cursive;
	font-family: 'Satisfy', cursive;
}

.card{
	position: relative;
	width: 400px;
	height: 400px;
	margin: 20px;
	display: flex;
}

.card .face{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;
}

.card .front{
	transform: perspective(600px) rotateY(0deg);
	box-shadow: 0 5px 10px #000;
}

.card .front img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*texto de la carta titulo*/
.card .front h3{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: rgb(0, 0, 0,.4);/*. transparencia*/
	text-align: center;
}

.card .back{
	transform: perspective(600px) rotateY(180deg);
	background: rgb(3, 35, 54);
	padding: 15px;
	color: #f3f3f3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow: 0 5px 10px #000;
}

/*espacio del detalle*/
.card .back .link{
	border-top: solid 1px #f3f3f3;
	height: 50px;
	line-height: 50px;
}

.card .back .link a{
	color: #f3f3f3;
}

.card .back h3{
	font-size: 30px;
	margin-top: 10px;
	letter-spacing: 1px;
}

.card .back p{
	letter-spacing: 2x;
}

.card:hover .front{
	transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
	transform: perspective(600px) rotateY(360deg);
}

.img2{
	display: flex;
	justify-content: center;
	align-items: center;
}

.mapa{
	margin-top: 25px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.enlaces a{
	text-decoration: none;
}

a:link{
	color: #FFFFFF;
}

a:visited{
	color:#FFFFFF;
}

.info{
	display: flex;
	padding: 30px;
	margin: 20px;
}

.info p{
	margin: 50px;
	margin-top: 0;
}
/***ATRACCIONES TURÍSTICAS*** FIN*/

//******PIE DE PAGINA*********/

.pie-columna1{
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	background: #0F1922;
	color: white;
	/* border: 1px solid; */
	/*padding-left: 250px;*/
}
.pie-columna2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #0F1922;
	color: white;
	/* border: 1px solid; */
	/*padding-left: 250px;*/
}
.pie-subscribete{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #0F1922;
	color: white;

}
.pie-subscribete input[type="submit"]{
	background: #9F6B3D ;
	color: white;
	font-size: 20px;
}
.pie-subscribete input[type="email"],label{
	font-size: 20px;
	padding-right: 30px;
}


.contenedor-pie-pagina1{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #0F1922;
	color: white;
	padding: 0px 400px;
/*	border: 5px solid darkred;*/
	}

.contenedor-pie-pagina2{
	display: flex;
	background: #0F1922;
	color: white;
	/* border: 1px solid red ;*/
	justify-content: space-between;
	border-top: 1px solid white;
	padding: 0px 100px;
}
.iconos-tamano img{
	width: 50px;
	height: 50px;
}


a{
	text-decoration: none;
	color: white;
}


.habitaciones-portada{
	display: flex;
	flex-direction: column	;
	padding: 0px 20%;
     
}

/* Servicios habitaciones */

.flex-col{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
 
}
.alin-izq{
    text-align: left;
}

#cajapadre { 
	text-align: center; 
	width: 290px; 
	border: 1px solid;
}
#caja-1 { 
	float: left;
	width: 260px;
	height: 350px;
	margin: 5px;
/* background-color: blue;*/
}

.restaurar {
clear: both;
}

/* Miembros Preferentes*/

.flex-members{
    display: flex;
    justify-content: center;
     border-style: inset;
     padding: 50px

   }

  .flex-members input[type="submit"]{
  	background: darkgray;
  	font-size: 25px;
 
  }

 .resev a{
    display: block;
    width: 160px;
    font-family: 'Montserrat', sans-serif;
    margin: 50px 150px; 
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    background-color: rgb(159,107,61);

}

.resev a:hover{
	background-color: transparent;
	border: 2px solid rgb(159,107,61);
	color: rgb(159,107,61);
} 