body{
  background: white;
  font-family: 'Montserrat', sans-serif;
}

/**************CABECERA*************/
.cabecera img{
  width: 130px;
}


.cabecera{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333B43;
}
.navegacion a{
  text-decoration: none;
  padding-right: 20px; 
  color: white ;
  font-size: 20px;
}
/****/

a:hover {
  color: #1E2BDC;
}

label{
  justify-content: sans-serif;
}

.general {

  border-radius: 20px;
  margin: 20px;
  background: white;
}

.titulo{
  text-align: center;
}

.fila {
  width: 100%;
  display: flex;
  flex: flex-basis 25%;
  justify-content: sans-serif;
}

.celda {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  margin: 0.5%;
}

.celda a:hover {
  color: skyblue;

}

.celda a {
  text-decoration: none;
  color: blue;
}


.marco {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  border-radius: 20px;

}

.contact-form {
  padding: 20px;
  background: #F6F2E7;
  border-radius: 20px;

}

.file {
  border-bottom: 1px white;
}

form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  color: black;
  border-bottom: 1px solid black;
}

p {
  margin: 0;
  padding: 1em;
  text-align: center;
}

select {
  font-size: 1.1em;
  width: 100%;
  width: 50%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.efecto {
  border-radius: 20px;

}

/******PIE DE PAGINA*********/

.pie-columna1{
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  background: #0F1922;
  color: white;
  /* border: 1px solid; */
  /*padding-left: 250px;*/
}
.pie-columna2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #0F1922;
  color: white;
  /* border: 1px solid; */
  /*padding-left: 250px;*/
}
.pie-subscribete{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0F1922;
  color: white;

}
.pie-subscribete input[type="submit"]{
  background: #9F6B3D ;
  color: white;
  font-size: 20px;
}
.pie-subscribete input[type="email"],label{
  font-size: 20px;
  padding-right: 30px;
}


.contenedor-pie-pagina1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0F1922;
  color: white;
  padding: 0px 400px;
/*  border: 5px solid darkred;*/
  }

.contenedor-pie-pagina2{
  display: flex;
  background: #0F1922;
  color: white;
  /* border: 1px solid red ;*/
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 0px 100px;
}
.iconos-tamano img{
  width: 50px;
  height: 50px;
}


a{
  text-decoration: none;
  color: white;
}


.habitaciones-portada{
  display: flex;
  flex-direction: column  ;
  padding: 0px 20%;
     
}

/* Servicios habitaciones */

.flex-col{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
 
}
.alin-izq{
    text-align: left;
}

#cajapadre { 
  text-align: center; 
  width: 290px; 
  border: 1px solid;
}
#caja-1 { 
  float: left;
  width: 260px;
  height: 350px;
  margin: 5px;
/* background-color: blue;*/
}

.restaurar {
clear: both;
}

/* Miembros Preferentes*/

.flex-members{
    display: flex;
    justify-content: center;
     border-style: inset;
     padding: 50px

   }

  .flex-members input[type="submit"]{
    background: darkgray;
    font-size: 25px;
 
  }

 .resev a{
    display: block;
    width: 160px;
    font-family: 'Montserrat', sans-serif;
    margin: 50px 150px; 
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    background-color: rgb(159,107,61);

}

.resev a:hover{
  background-color: transparent;
  border: 2px solid rgb(159,107,61);
  color: rgb(159,107,61);
} 