body{
	background: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

/**************CABECERA*************/
.cabecera img{
	width: 130px;
}


.cabecera{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #333B43;
}
.navegacion a{
	text-decoration: none;
	padding-right: 20px; 
	color: white ;
	font-size: 20px;
}
/****/

.centrado{
	text-align: center;
}

.contenido-columnas {
	display: flex;
	justify-content: space-between;
}

.contenido-columnas p{
	padding-right: 20px;
	padding-left: 20px;
}

.item{
	padding: 0px 170px;
}

.foto-servicios h1 {
	font-weight: 1200;
}
/******PIE DE PAGINA*********/

.pie-columna1{
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	background: #0F1922;
	color: white;
	/* border: 1px solid; */
	/*padding-left: 250px;*/
}
.pie-columna2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #0F1922;
	color: white;
	/* border: 1px solid; */
	/*padding-left: 250px;*/
}
.pie-subscribete{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #0F1922;
	color: white;

}
.pie-subscribete input[type="submit"]{
	background: #9F6B3D ;
	color: white;
	font-size: 20px;
}
.pie-subscribete input[type="email"],label{
	font-size: 20px;
	padding-right: 30px;
}


.contenedor-pie-pagina1{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #0F1922;
	color: white;
	padding: 0px 400px;
/*	border: 5px solid darkred;*/
	}

.contenedor-pie-pagina2{
	display: flex;
	background: #0F1922;
	color: white;
	/* border: 1px solid red ;*/
	justify-content: space-between;
	border-top: 1px solid white;
	padding: 0px 100px;
}
.iconos-tamano img{
	width: 50px;
	height: 50px;
}


a{
	text-decoration: none;
	color: white;
}


.habitaciones-portada{
	display: flex;
	flex-direction: column	;
	padding: 0px 20%;
     
}
